<%- include('../partials/header') %>

<main class="container text-center mt-3">
  <h1>LISTA DE USUÁRIOS</h1>
  <!-- CRIANDO UM BOTÃO PARA PAGINA DE CADASTRO -->
  <a href="/produtos/cadastrar">
    <button class="btn btn-lg btn-primary">
      <!-- ICONE DO BOOTSTRAP -->
      <i class="bi bi-plus-circle"></i>
      Cadastrar
    </button>
  </a>
<div class="d-flex flex-row flex-wrap justify-content-around mt-3">
  <% if (produtos && produtos.length > 0) { %> 
  <% produtos.forEach((produto) => { %>
    <div class="card border-secondary mb-2" style="width: 18rem">
      <img
        src=<%= produto.imagemUrl %>
        class="card-img-top"
        height="250px"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title"><%= produto.nome %></h5>
        <p class="card-text"><b>Descrição: </b><%= produto.descricao %></p>
        <p class="card-text"><b>Tipo: </b> <%= produto.categoria %></p>
        <p class="card-text"><b>Preço: </b><%= produto.preco %></p>
        <p class="card-text"><b>Quantidade: </b><%= produto.quantidade %></p>
        
 
               <a href="/produtos/<%= produto.id %>" style="text-decoration: none;">
                  <button class="btn btn-sm btn-warning me-2 ">
                    <i class="bi bi-pencil-square"></i> Editar
                  </button>
               </a>

               
                <a href="#" style="text-decoration: none;">
                  <button class="btn btn-sm btn-danger"
                  onclick="confirmaExclusao('<%= produto.nome%>', '<%= produto.id%>')">
                    <i class="bi bi-trash3"></i> Excluir
                  </button>
               </a>


      </div>
    </div>
  <% }) %>
  <% } %>
  </div>
</main>
